#feedbackArea {
  float: right;
  width: 130px;
/*  border: 1px solid black; */
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

#sendFeedback {
  color: rgb(107,169,68);
  line-height: 1.2em;
}

#stars {
  text-align: center;
  line-height: 1.2em;
  padding-top: 3px;
  padding-bottom: 3px;
}

#stars div {
  display: inline-block;
  height: 20px;
  vertical-align: bottom;
  width: 20px;
}

#innerStars {
  text-align: center;
  line-height: 1.2em;
  padding-top: 3px;
  padding-bottom: 3px;
}

#innerStars div {
  display: inline-block;
  height: 20px;
  vertical-align: bottom;
  width: 20px;
}

#pageId {
  display: none;
}

#modalClose {
  font: bold;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
