
div.back-action, #toc.toc2 div.back-action {
  padding: 0.8rem 0 0 5px;
  //border-right: 1px solid #ddddd8;
  a {
    position: relative;
    display: inline-block;
    padding: 0.6rem 1.2rem;
    padding-left: 35px;
    span {
      position: absolute;
      left: 5px;
      top: 5px;
      display: block;
      color: #333;
      height: 26px;
      width: 26px;
      border-radius: 13px;
    }
    i {
      position: absolute;
      top: 10px;
      left: 5px;
    }
    &:hover {
      span {
        color: #000;
      }
    }
  }
}

#tocbot.desktop-toc {
  padding-top: 0.8rem;
}

#header-spring {
  position: absolute;
  text-rendering: optimizeLegibility;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  margin: 0 1rem;
  padding: 0 1rem;
  border-bottom: 1px solid #ddddd8;
  border-top: 3px solid $spring-primary-color;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    text-align: left;
    line-height: $header-height - 4px;
    padding-left: 0.6rem;
    svg {
      width: 200px;
      .st0 {
        fill: $spring-primary-color;
      }
      .st2 {
        fill: #444;
      }
    }
  }
}

body.book {

  #header-spring {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: 0;
  }

  #header > h1:only-child {
    border: 0 none;
    padding-bottom: 1.2rem;
    font-size: 1.8rem;
  }

  #header, #content, #footnotes, #footer {
    margin: 0 auto;
  }

}

body.toc2 {

  #header-spring {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    h1 {
    }
  }

  #header > h1:only-child {
    font-size: 2.2rem;
  }

  #header, #content, #footnotes, #footer {
    margin: 0 auto;
  }

  #content {
    padding-top: 2rem
  }
}

#header, #content, #footnotes, #footer {
  width: 100%;
  //margin-left: 3rem;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1;
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

#header:before, #header:after, #content:before, #content:after, #footnotes:before, #footnotes:after, #footer:before, #footer:after {
  content: " ";
  display: table;
}

#header:after, #content:after, #footnotes:after, #footer:after {
  clear: both;
}

#content {
  margin-top: 1.25em;
}

#content:before {
  content: none;
}

#header > h1:first-child {
  margin-top: 2.55rem;
  margin-bottom: 0.5em;
  margin-bottom: 0.5em;
}

#header > h1:first-child + #toc {
  margin-top: 8px;
  border-top: 0 none;
}

#header > h1:only-child, body.toc2 #header > h1:nth-last-child(2) {
  border-bottom: 1px solid #ddddd8;
  padding-bottom: 8px;
}

#header .details {
  border-bottom: 1px solid #ddddd8;
  line-height: 1.45;
  padding-top: 0;
  padding-bottom: 2.25em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.6);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

#header .details span:first-child {
  margin-left: -0.125em;
}

#header .details span.email a {
  color: rgba(0, 0, 0, 0.85);
}

#header .details br {
  display: none;
}

#header .details br + span:before {
  content: "\00a0\2013\00a0";
}

#header .details br + span.author:before {
  content: "\00a0\22c5\00a0";
  color: rgba(0, 0, 0, 0.85);
}

#header .details br + span#revremark:before {
  content: "\00a0|\00a0";
}

#header #revnumber {
  text-transform: capitalize;
}

#header #revnumber:after {
  content: "\00a0";
}

#content > h1:first-child:not([class]) {
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid #ddddd8;
  padding-bottom: 8px;
  margin-top: 0;
  padding-top: 1.5rem;
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 2.2rem;
  letter-spacing: -1px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

h2, h3, h4, h5, h6 {
  padding: .8rem 0 .4rem;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.2rem;
}

pre.highlight {
  background: #232323;
  code {
    color: #e6e1dc;
  }
  color: #e6e1dc;
  border-radius: 4px;
}

pre.highlight, #toc.toc2 {
  a {
    color: #000;
    font-size: 1rem;
  }
  ul.sectlevel1 {
    padding-left: 0.2rem;
    li {
      line-height: 1.4rem;
    }
  }
}

::selection {
  background-color: #d1ff79;
}

.literalblock pre, .listingblock pre[class="highlight"], .highlight, pre, .highlight code, .highlight code span {
  &::selection {
    background: rgba(255, 255, 255, .2) !important;
  }
}

body.book #header {
  margin-bottom: 2rem;
}

body.toc2 #header {
  margin-bottom: 0;
}

#feedback-area {
  border-bottom: 1px solid #ddddd8;
  padding: 1rem;
  background: #f8f8f8;
  h1 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    font-family: Karla, sans-serif;
    padding: 0 0 4px;
  }
}

.stars {
  height: 20px;
  span {
    display: inline-block;
    height: 20px;
    width: 20px;
    a {
      display: inline-block;
      height: 20px;
      width: 20px;
      background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQwIDc5LjE2MDQ1MSwgMjAxNy8wNS8wNi0wMTowODoyMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTggKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Qjg0NDA3ODhBRDQ0MTFFOTk1RTFBRkIzQzM1NDZGOTciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Qjg0NDA3ODlBRDQ0MTFFOTk1RTFBRkIzQzM1NDZGOTciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3MTMyMTVGRkFENDQxMUU5OTVFMUFGQjNDMzU0NkY5NyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3MTMyMTYwMEFENDQxMUU5OTVFMUFGQjNDMzU0NkY5NyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PjAbBSAAAAN8SURBVHjazJhbSBRRGMd3zUgljZQoS7uQXcx1LRcKMoOK6KGgXnqKeuohSOhGZkTZxYwoiCIxyKei3noI7KELQVkQRVmWZbdFsTTo7hZKCdv/g2/i8HVmnNk51Rz4MXMuc+a/33fOd77ZcDKZDPkpVc1L1epmMBLUuX3+5Iqrjv3pIXOF5jpmvRd8MTFpmkGBO5T7A6YmNSmwWrnfYMo7pgRuAjnC3QeDIjAM6m0smh0EgdtAlk1fbRAE7nTo2wiG/zeBiIEkIFdp6gEPlHqGXyum+RAX1myEM+CSaKvh4P3PLbgejFLqn0ED2AeeKu3DeJenHP29Wi4Tl6lgr+g6Bd7w/Xlx3NGOvgw6wDdPIUJ3FkMEWbaQhRSB6WAa1ydpXPYdREGc69TfBqaIcf2gE7wGr8Bzvie6cS7/1AqEIBKzFpSyiMlgjIcfuh0cFW10mjR6mOOTIr4dnIXguOVicse6FJdJo0ac5XKy/BaX8+Qy5WA1iNDVEngILANjXU5Gv7AF3ALnHMZtBbfBAlAJYi7n77MixO81CDfn8YulyCuAkraXbP4ukEjR2lm8fKy1vRCsEmNo7hK4t/uPTQKR43C5D8aLh66DJSGzpRksF22UQ8Zo7WnjIDre4TILvBAPLgbXDIq7qBH3FhSr4pzCDMW6u7xQ1dLCbvFTyBuLRFsXW+6jqzjIIumQfwxmGBR5Q/NsD1uuz9NRx0EzymtSLZW8672Weo04WkoRO3GOFhTWpFAxX2nq1JwSQ5WHoEypk3fKIW7Qd7KASSqUczbEoaLQg7gcIS7B9UGT2Uy2Jpi6Lf2inun2c8CVQLh4rkityD1fPQik9XxHZFEVJvPBUlG/ZzOOYuhsm76boh41KbBEcxarhzzt6g/c3sruPwwKbJ7RzWlcYDqn8218zRPrtZr7arn+5G8KLBP1GL+cLDfB4bnRnHnT2JUagRm+BWKD5IsMp5dToWLN8GfgkaadwtIezqKtMoKzc98WnCjq+ZoxCXaptUmqwHvNuCKNcN8CZw6RWNZx0D6itDfwD9tlI9QqERMCdWEjqezS3TYxcYDP3wLeKAOaMXNMCJQB9TRZDMdfDXCTWf8A+1nocdE3z8R3sfUde4EsAVHtKaZalOvRX8QnWPAaN8elG4FN/H9LE8R1GMim47yje3nXe/9wD1JJCwW8BF7gLwEGAJQT6fk3DR2uAAAAAElFTkSuQmCC);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 20px 20px;
      &.active {
        background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQwIDc5LjE2MDQ1MSwgMjAxNy8wNS8wNi0wMTowODoyMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTggKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NzEzMjE1RjlBRDQ0MTFFOTk1RTFBRkIzQzM1NDZGOTciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NzEzMjE1RkFBRDQ0MTFFOTk1RTFBRkIzQzM1NDZGOTciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3MTMyMTVGN0FENDQxMUU5OTVFMUFGQjNDMzU0NkY5NyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3MTMyMTVGOEFENDQxMUU5OTVFMUFGQjNDMzU0NkY5NyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuKrTDgAAAKFSURBVHja5JhNSNxAFMezq6IWraAUEdQKWqvd1V09VNCzt157KnryICi0IFiLaEVXi/RQFD3pzbO3XqTnHlsoKlWpomj9QCr1AxQrrP8HL5Ku2ezEvGwCDvyY7GYSf77JvHnZQDwe15y07s+txo9vQB6IqV4/9eKL5flMTa7RvT7pfxf8lbhpUFDwreF4ROqmkoK9huNOqdmREnwNHiZM96hfBANgLElE8/0g2AMeJDn33g+C7yzOdYEszwSRA0mg0GJIjtMoBh3IBRQXQh8n77RHsAMUKIzL4FV+5+xvN3K56CrBkM0cuQBWwJmtFGG2F0OCIlvGIlWgGjzhz48dTNk52ATr4BdY5WNiG/vyP1NBCJFMG6hjiQrwSEtvOzLIL4M5CG/oU0zVR7vmbStkGsFLEKZeXyQfwIHmn3aiZ4ibZxDTXMShLfZY7hSEML3b/6UZfPEHXRTseihHNWRUl7uVB3FiH90zsOaB3G9QSwvDMlFjwDFHcimNclsgwgFKnQf5maRNfhE8dVlulyN3Ymur46RZD765KEePUjiZnGUEE6L5FV2zsBzNTiPkrhwXC7hJC7od4VQSAVeS1Uy+oGCu6v2UBDHFzxVLKztVVItkPVjnwgKplxQMuSAYuleCEZcEcxwLYoGU2KhwfoIfimOzuTp3HMFyxbzWy4UG7ePd4FDhugoJwZoUhWWM318+Gr6f5n+sP4VoWEIwavId7Y/joBQMgGOTMRf8m00pv7xfmIxpkBBMTKgzFDFsf33gVOH6SzDMohMJ55ok3ov199h5igSklu+4aqlip5+IJ1n4FT8ijgVnwXfqIbcikF6oYh4Ee7zq7b+4+6kFNZ833wteCzAAabmmYpUP2QYAAAAASUVORK5CYII=);
      }
    }
  }
}