/**************************\
  Basic Modal Styles
\**************************/

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  //display: flex;
  justify-content: center;
  //align-items: center;
  z-index: 9999;
}

.modal__container {
  background-color: #fff;
  padding: 15px 30px 30px;
  max-width: 800px;
  max-height: 90%;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddddd8;
  padding-bottom: 10px;
  margin-bottom: 0.5rem;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #000;
  box-sizing: border-box;
  font-family: Karla, sans-serif;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
  &:hover {
    color: $spring-primary-color;
  }
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  line-height: 1.5;
  color: rgba(0, 0, 0, .8);
}

.modal__btn {
  font-size: .875rem;
  padding: 0.7rem 1.2rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, .8);
  border-radius: .25rem;
  border: 0 none;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  &:hover {
    background-color: darken(#e6e6e6, 3);
  }
}

.modal__btn-primary {
  background-color: $spring-primary-color;
  color: #fff;
  font-weight: bold;
  &:hover {
    background-color: darken($spring-primary-color, 3);
  }
}

.modal__footer {
  text-align: center;
  border-top: 1px solid #ddddd8;
  padding-top: 1.4rem;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.form {

  padding: 0;
  margin: 0;

  .control {
    padding: .2rem 0 1rem;
    margin: 0;
    .control-text, .control-textarea {
      display: block;
      outline: none;
      border: 1px solid #ccc;
      line-height: 16px;
      font-family: Karla, sans-serif;
      font-size: 14px;
      box-sizing: border-box;
      background-clip: padding-box;
      width: 100%;
      padding: 0.5rem 0.7rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      -webkit-border-radius: 0px;
      background: #FFF;
      border-radius: 4px;
      &:focus {
        @include transition(border-color 0.15s);
        border-color: $spring-primary-color;
      }
      &::placeholder {
        font-style: italic;
        color: #888;
      }
    }

    .control-textarea {
      height: 200px;
    }

  }

  .control-label {
    font-weight: bold;
    display: block;
    padding-bottom: 0.6rem;
    font-size: 14px;
  }
}

.control-stars {
  padding: 1rem 0 1.2rem;
  .stars {
    width: 120px;
  }
}

.modal {
  .admonitionblock {
    margin: .6rem 0 2rem;
  }
}
.modal__admonitionblock-content {
  padding: 0 1rem;
  font-size: 13px;
}
